@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main {
        @apply m-auto max-w-6xl px-2 py-3 md:px-3;
    }

    body {
        background-color: #d9b38c; /* Light Coffee Color */
        color: #3e2723; /* Dark Coffee Color */
        font-family: "Arial", sans-serif;
    }

    header,
    footer {
        background-color: #f8a488; /* Light Orange */
        color: #3e2723; /* Dark Coffee Color */
        padding: 20px;
        text-align: center;
    }

    button {
        background-color: #8d6e63; /* Coffee */
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    button:hover {
        background-color: #6b4423; /* Dark Coffee */
    }
}
